<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TabFormsConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <TabFormsConfiguration>
    <add key="PagesNumber" value="4" />
  </TabFormsConfiguration>
</configuration>